# https://browserslist.dev

[production]
defaults
>0.1%
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 1 Electron version
not dead
not IE 10
not IE 11
not OperaMini all

[development]
defaults
last 2 Chrome versions
last 2 Firefox versions
last 2 Safari versions
last 1 Electron version

[ssr]
maintained Node versions
