* text=auto eol=lf

generated/* linguist-generated=true
dist/* linguist-generated=true
lib/* linguist-generated=true
bin/* linguist-generated=true
*.lock linguist-generated=true
.husky/* linguist-generated=true

.yarn/* linguist-vendored=true
vendored/* linguist-vendored=true

# Source code
*.css             text diff=css
*.graphql         text
*.html            text diff=html
*.js              text
*.json            text
*.jsonc           text
*.jsx             text
*.map             text -diff
*.pro             text
*.sass            text
*.scss            text diff=css
*.sh              text
*.ts              text
*.tsx             text

# Docker
Dockerfile        text

# Documentation
*.ipynb           text
*.markdown        text diff=markdown
*.md              text diff=markdown
*.mdwn            text diff=markdown
*.mdown           text diff=markdown
*.mkd             text diff=markdown
*.mkdn            text diff=markdown
*.mdtxt           text
*.mdtext          text
*.txt             text
AUTHORS           text
*CHANGELOG*       text
CHANGES           text
CONTRIBUTING      text
COPYING           text
copyright         text
*COPYRIGHT*       text
INSTALL           text
license           text
LICENSE           text
NEWS              text
readme            text
*README*          text
*ROADMAP*         text
*TODO*            text

# Configs
*.cnf             text
*.conf            text
*.config          text
.editorconfig     text
.env              text
.gitattributes    text
.gitconfig        text
*.lock            text -diff
package.json      text
package-lock.json text -diff
pnpm-lock.yaml    text -diff
*.yaml            text
*.yml             text
browserslist      text

# Heroku
Procfile          text

# Graphics
*.ai              binary
*.apng            binary
*.bmp             binary
*.gif             binary
*.gifv            binary
*.ico             binary
*.jpg             binary
*.jpeg            binary
*.pdf             binary
*.png             binary
*.psb             binary
*.psd             binary
*.svg             text
*.svgz            binary
*.tif             binary
*.tiff            binary
*.wbmp            binary
*.webp            binary
*.xcf             binary

# Audio
*.m4a             binary
*.mid             binary
*.midi            binary
*.mp3             binary
*.ogg             binary

# Video
*.fla             binary
*.flv             binary
*.m4v             binary
*.mov             binary
*.mp4             binary
*.mpeg            binary
*.mpg             binary
*.webm            binary

# Archives
*.7z              binary
*.gz              binary
*.jar             binary
*.rar             binary
*.tar             binary
*.zip             binary

# Fonts
*.ttf             binary
*.eot             binary
*.otf             binary
*.woff            binary
*.woff2           binary

# RC files (like .babelrc or .eslintrc)
*.*rc             text

# Ignore files (like .npmignore or .gitignore)
*.*ignore         text
